@tailwind base;
@tailwind components;
@tailwind utilities;

.indicator{
    transition: left .4s;
  }

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}
.headingnames{
  font-weight: bolder;
}





.dark {
  background-image: linear-gradient(#202020, #141313);
  color: white; 
}
.dark .headingnames {
  background-color: rgba(255, 255, 255, 0.038);
  /* box-shadow:0 0 0.3rem 0 rgb(74, 74, 74);  */
}
/* .dark .primary {
  background-color: #4B5563;
}
.dark .accent {
  background-color: #2563EB;
}
.dark .secondary {
  color: #EF4444;
} */
.dark .darkcolor {
  background-color: #2f2e2e;
}
.dark .rainbowbtn {
  background-image: linear-gradient(90deg, #500724 0%, #083344 100%);
}
.dark .input {
  background-color: #2f2e2e;
}
.dark .bordertop {
  border-color: rgb(113, 13, 63);
}
.dark .vid{
  opacity: 85%;
}
.dark .linkbar{
  background-color: #141313;
  box-shadow:0 0 1rem 0 white; 
}
.dark .topbtn{
  background-color: #141313;
  box-shadow:0 0 1rem 0 white; 
}





.light {
  background-image: linear-gradient(#dedede, #d9d9d9);
  color: #333333;
}
.light .headnav{
  /* background-color: #333333; */
  background-image: linear-gradient(90deg, #7d6000 0%, #e9c349 100%);
}
.light .headingnames {
  background-color: #0000002c;
  
}
.light .whitecolor{
  color: #ffffff;
}
.light .darkcolor {
  background-color: #E5E7EB;
}
.light .input {
  background-color: #c7c7c7;
}
.light .rainbowbtn {
  background-image: linear-gradient(90deg, #7d6000 0%, #e9c349 100%);
  /* background-color: #D4AF37; */
}
.light .bordertop {
  border-color: #D4AF37;
}
.light .vid{
  opacity: 100%;
}
.light .linkbar{
  background-image: linear-gradient(90deg, #7d6000 0%, #503f07 100%);
  box-shadow:0 0 1rem 0 black; 
}
.light .topbtn{
  background-image: linear-gradient(90deg, #333333 0%, #222222 100%);
  color: #c7c7c7;
  box-shadow:0 0 1rem 0 black;
}


/* From Uiverse.io by rishichawda */ 
/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}
